{% extends 'faculty_header.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>VictoryPro | Add Course</title>

</head>
<body>
<div class="main">
  
  <div class="content">
    <div class="content_resize">
      <div class="mainbar">
        <div class="article">
          <h2><span>Add Course</span></h2>
          <div class="clr"></div>
          
        </div>
        <div class="article">
          {% if msg %}
            <h3 style="color:white;">{{msg}}</h3>
          {% endif %}
          <div class="clr"></div>
          <form action="{% url 'add_course' %}" method="post" id="sendemail">
            {% csrf_token %}
            <ol>
              
              <li>
                <label for="email">Course Name (required)</label>
                <input id="email" name="cname" class="text" />
              </li>
              <li>
                <input type="submit" value="Add Course" class="btn btn-danger" />
                <div class="clr"></div>
              </li>
            </ol>
          </form>
        </div>
      </div>
      <table width="100%" border="5" cellpadding="10px" cellspacing="10px" style="color:white;font-size: 20px;">
    <tr>
      <th>Course ID</th>
      <td>Course Name</td>
      <th>Faculty Name</th>
      
    </tr>
    <tbody id="dispData">
      {% for i in courses %}
      <tr>
        <td>{{i.id}}</td>
        <td>{{i.cname}}</td>
        <td>{{i.faculty.fname}}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
      <div class="clr"></div>
    </div>
  </div>
  <div class="fbg">
    <div class="fbg_resize">
      <div class="col c1">
        <h2><span>Image</span> Gallery</h2>
        <a href="#"><img src="{% static 'images/gal1.jpg' %}" width="75" height="75" alt="" class="gal" /></a> <a href="#"><img src="{% static 'images/gal2.jpg' %}" width="75" height="75" alt="" class="gal" /></a> <a href="#"><img src="{% static 'images/gal3.jpg' %}" width="75" height="75" alt="" class="gal" /></a> <a href="#"><img src="{% static 'images/gal4.jpg' %}" width="75" height="75" alt="" class="gal" /></a> <a href="#"><img src="{% static 'images/gal5.jpg' %}" width="75" height="75" alt="" class="gal" /></a> <a href="#"><img src="{% static 'images/gal6.jpg' %}" width="75" height="75" alt="" class="gal" /></a> </div>
      <div class="col c2">
        <h2><span>Services</span> Overview</h2>
        <p>Curabitur sed urna id nunc pulvinar semper. Nunc sit amet tortor sit amet lacus sagittis posuere cursus vitae nunc.Etiam venenatis, turpis at eleifend porta, nisl nulla bibendum justo.</p>
        <ul class="fbg_ul">
          <li><a href="#">Lorem ipsum dolor labore et dolore.</a></li>
          <li><a href="#">Excepteur officia deserunt.</a></li>
          <li><a href="#">Integer tellus ipsum tempor sed.</a></li>
        </ul>
      </div>
      <div class="col c3">
        <h2><span>Contact</span> Us</h2>
        <p>Nullam quam lorem, tristique non vestibulum nec, consectetur in risus. Aliquam a quam vel leo gravida gravida eu porttitor dui.</p>
        <p class="contact_info"> <span>Address:</span> 1458 TemplateAccess, USA<br />
          <span>Telephone:</span> +123-1234-5678<br />
          <span>FAX:</span> +458-4578<br />
          <span>Others:</span> +301 - 0125 - 01258<br />
          <span>E-mail:</span> <a href="#">mail@yoursitename.com</a> </p>
      </div>
      <div class="clr"></div>
    </div>
  </div>
 
</div>
</body>
</html>
{% endblock %}