{% extends 'header.html' %}
{% load static %}
{% block content %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>VictoryPro</title>

</head>
<body>
<div class="main">
  <table width="100%" border="5" cellpadding="10px" cellspacing="10px" style="color:white;font-size: 20px;">
    <tr>
      
      <td>First Name</td>
      <th>Last Name</th>
      <th>Course</th>
      <th>Total Marks</th>
      <th>Obtained Marks</th>
      <th>Exam Date</th>
      
    </tr>
    <tbody id="dispData">
      {% for i in result %}
      <tr>
        
        <td>{{i.student.fname}}</td>
        <td>{{i.student.lname}}</td>
        <td>{{i.course.cname}}</td>
        <td>3</td>
        <td>{{i.marks}}</td>
        <td>{{i.date}}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
</div>

<!-- <script>
    $("button").click(function (e) { 
     
      var status = $(this).attr('id');
      event.preventDefault();      
      $.ajax({
        url: '/ajax/change_status/',
        
        data: {
          'status': status
        },
        dataType: 'json',
        success: function (data) {
          
          alert(data);
         /* $.each( data, function( key, value ) {
          // console.log("key ", value.fields.email)

          htmlData = "<tr><td>"+ value.fields.id+"</td><td>"+ value.fields.fname+"</td><td>"+ value.fields.lname+"</td><td>"+ value.fields.email+"</td><td>"+ value.fields.status+"</td></tr>";
          });*/
          /*$("#dispData").html(htmlData)*/
        }
      });

    });
  </script> -->
</body>
</html>
{% endblock %}